<footer>

    <div class="footer-content">
      <h3></h3>
    
          <ul class="footerHelp">
            <li>
              <a href="#">contact us</a>
              <i class=" fas fa-solid fa-phone"></i>
            </li>
    
            <li>
              <a href="#">About Us</a>
              <i class="fas fa-regular fa-address-card"></i>
            </li>
    
            <li>
              <a href="#">Help</a>
              <i class="fas fa-question"></i>
            </li>
          </ul>
    
          <div class="footer-bottom">
            <p>COpyriht 2024 .Registration System. All Right Reserved</p>
          </div>
    
    
    </div>
    
    
    </footer>
