.container-box {
  width: 100%;
  height: 100%;
  
}
.home_body{
  background-color: #000000;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  row-gap: 20px;
  column-gap: 20px;
  padding-left: 20px;
  padding-bottom: 100px;
  
}

.item-box {
  display: grid;
  column-gap: 50px;
  /* border-color: black; */
  /* border-style: solid; */
  border-width: 2px;
  width: 28vw;
  height: 15vw;
  padding: 5px;
}
.item-box-show {
  
  display: grid;
  column-gap: 50px;
  /* border-color: black; */
  /* border-style: solid; */
  border-width: 2px;
  width: 28vw;
  height: 30vw;
  padding: 5px;
}
.item-box-discription{
  /* width: 100%;
  height: 100%; */
  border-top: 5px rgb(78, 66, 66) solid;
  
  
}

a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}
.add_button{
  width: 100%;
display: flex;
align-items: center;
justify-content: center;
  
}
.img-box{
 padding: 5px;
  width: 350px;
height: 190px;
}
.img-box img{
  width: 100%;
  height: 100%;
  

}
.text {
  font-family: Arial, sans-serif;
}

.text p {
  margin: 10px 0;
}

.label {
  display: inline-block;
  width: 150px; 
  font-weight: bold;
}

.value {
  display: inline-block;
}










/* General container styling */
.con_t {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Styling the header */
.con_t h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Styling the list */
.con_t ul {
  list-style-type: none;
  padding: 0;
}

/* Styling each list item */
.con_t ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

/* Styling the user link */
.con_t ul li a {
  flex: 1;
  text-decoration: none;
  color: #007BFF;
  font-size: 16px;
}

.con_t ul li a:hover {
  text-decoration: underline;
}

/* Styling the label with dashes */
.con_t ul li .label {
  flex: 1;
  text-align: right;
  color: #666;
  font-size: 16px;
}

/* Ensuring the flex items have some space between them */
.con_t ul li a, 
.con_t ul li .label {
  margin: 0 10px;
}













ontainer-inside {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.image-section {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  border-radius: 15px;
}

.details-section {
  flex: 2;
  padding: 0 20px;
}

.details-section h1 {
  font-size: 16px;
  margin: 10px 0;
}

.description-section {
  flex: 3;
  padding: 20px;
}

.description-section h1 {
  font-size: 14px;
  margin: 10px 0;
}

.buttons-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.buttons-section a,
.buttons-section form {
  display: flex;
  justify-content: center;
}
