<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/stylefooter.css">
    <link rel="stylesheet" href="/stylenav.css">
    <link rel="stylesheet" href="/stylebody.css">
    <link rel="stylesheet" href="/style.css">

    <title></title>
</head>
<body class="home_body">

    <%- include('../partials/_navbar.ejs') %>
    
  
    <%- include('../partials/_img_slider.ejs') %>


    <%- include('../partials/_footer.ejs') %>

    <%- include('../partials/end.ejs') %>
